.tabs {
  font-family: arial;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-top: 15vh;
}

img {
  width: 300px;
}

.tab-buttons {
  color: antiquewhite;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  color: white;
  margin-right: 15px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}
.active {
  border-bottom: 2px solid #960022;
  background-color: whitesmoke;
  color: #960022;
  border-radius: 15px;
}
